/* general */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* clearfix */
.group:before, .container:before,
.group:after, .container:after {
	content: " ";
	display: table;
}

.group:after, .container:after {
	clear: both;
}

body {
	font-size: 2em;
	text-align: center;
	background: #182d4f;
	height: 100vh;
	padding: 1.25em 0;
}

img {
	width: 100%;
	max-width: 300px;
	vertical-align: middle;
}

.faded {
  opacity: .35;
}

strong,
.strong {
	color: #f9c029;
	font-weight: normal;
}

pre {
	text-align: left;
}

ul {
  padding-left: 0;
  list-style: none;
}

.add-new {
  max-width: 320px;
  /* margin: 0 auto 3em; */
  margin: 3em auto 3em;
}

.add-new input {
  font-size: 14px;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, .9);
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 0.5em;
}

.add-new input:focus {
  outline: none;
}

.add-new input:first-child {
  font-weight: bold;
}

.add-new input:last-child {
  font-size: 13px;
  width: 100%;
}

.preview {
  font-size: 13px;
  opacity: .5;
}
